

.cardContainer {
  display: inline-block;
  width: 800px;
  min-height: 450px;
  background-color: #116466;
  border-radius: 7px;
  /* font-family: sans-serif; */
}

.card {
  padding: 10px;
  color: #D1E8E2;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 3fr 3fr;
}

img {
  height: 400px;
  padding: 15px;
  border-radius: 20px;
}

.logo {
  display: inline-block;
  height: 200px;
  justify-content: center;
  border-radius: 7px;
}

.user {
  display: inline-block;
}

.name {
  font-size: 50px;
  margin: 5px;
  text-align: right;
}

.title {
  font-size: 25px;
  margin: 5px;
  text-align: right;
}

.info {
  grid-column: 2;
  grid-row: 2;
  padding: 10px;
  text-align: right;
}

.float {
  box-shadow: 3px 3px 4px gray;
  transition: all .3s ease-in-out;
}

.float:hover {
  transform: translate3d(-2px, -2px, 0px);
  box-shadow: 6px 6px 4px gray;
}