body {
  margin: 0;
  padding: 0;
  color: white;
}

#navbar {
  background-color: rgb(10, 14, 14);
  align-content: center;
  height: auto;
}

.navItems {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
  align-self: center;
}

.title {
  grid-column: 2;
  align-self: center;
  margin-right: 40px;
  font-size: 50px;
}

.option {
  align-self: center;
  /* text-align: right; */
  padding: 10px;
  padding-right: 0;
  padding-bottom: 0;
  font-size: 22px;
  cursor: pointer;
}

.first {
  grid-column: 3;
}

.second {
  grid-column: 4;
}

.third {
  grid-column: 5;
}